@attribute [StreamRendering]


@if (_promoModel == null)
{
    <div class="main-content container-fluid p-4">

        <p><em>Loading...</em><span class="fas fa-loader"></span></p>
    </div>
}
else
{
    <div class="main-content container-fluid align-content-center ">
        <div class="row justify-content-center p-2 p-lg-3">
            <div class="col-lg-7 d-flex justify-content-center text-center text-lg-start flex-column">
                <h1>
                    @_promoModel.Title
                </h1>
                <p>
                    @_promoModel.Description
                </p>
                <p>
                   @((MarkupString)_promoModel.AdditionalData)
                </p>

                <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                    @{bool first = true;}
                    @foreach (var item in _promoModel.Links ?? new())
                    {
                        if (first)
                        {
                            <a class="btn btn-dark text-wrap m-1" href="@item.Item2">
                                @item.Item1
                            </a>
                            first = false;
                        }
                        else
                        {
                            <a class="btn btn-outline-dark m-1" href="@item.Item2">
                                @item.Item1
                            </a>
                            
                        }
                       
                    }
                </div>

                <p class="note">
                    @_promoModel.Note
                </p>
            </div>
            <div class="d-none col-md-5 d-lg-flex justify-content-center flex-row">
                @{
                    var maxWidth = 100 / _promoModel.ImagePaths?.Count;
                }
                @foreach (var item in _promoModel.ImagePaths ?? new())
                {
                    var index = _promoModel.ImagePaths?.IndexOf(item);
                    var borderRadiusStyle = "";

                    if (index == 0)
                    {
                        borderRadiusStyle = "border-top-left-radius:8px;border-bottom-left-radius:8px;";
                    }
                    else if (index == _promoModel.ImagePaths?.Count - 1)
                    {
                        borderRadiusStyle = "border-top-right-radius:8px;border-bottom-right-radius:8px;";
                    }

                    <img alt="Promotional materials"
                         class="col img-fluid m-1"
                         src="@item"
                         style="max-width:@maxWidth% !important; @borderRadiusStyle" />
                }
            </div>

        </div>
    </div>
}

@code {

    private PromoModel? _promoModel;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        _promoModel = new PromoModel().GetMockData();
    }


    class PromoModel
    {
        public string? Title { get; set; }
        public string? Description { get; set; }
        public string? AdditionalData { get; set; }
        public List<(string, string)>? Links { get; set; }
        public string? Note { get; set; }
        public List<string>? ImagePaths { get; set; }

        public PromoModel GetMockData()
        {
            return new()
                {
                    Title = "Everything you need for the busy season? We print that.",
                    Description = "Get $30 off orders $200+ to make the holidays a breeze.",
                    AdditionalData = "<strong> Code: PROMO</strong>| Ends Oct. 20",
                    Links = new List<(string, string)>() { ("Shop holiday prep", ""), ("Business Cards", ""), ("Marketing Materials", "") },
                    Note = "Not combinable with other offers.",
                    ImagePaths = new() { "https://storage.googleapis.com/a1aa/image/KV8R9vSYOka2CJdrY10yIxxBbpxNcMNO0bYYKeh9V1UzzgzJA.jpg", "https://storage.googleapis.com/a1aa/image/0Bxb7mlh4fUUA66fyGjvSeCZFNewqGN7RxGCGvdaOC7XQf3cC.jpg" }
                };
        }
    }
}
